
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "PT Sans";
  src: url("../fonts/web/ptsans.woff") format("woff"),
       url("../fonts/web/ptsans.woff2") format("woff2")
       url("../fonts/web/ptsansbold.woff") format("woff"),
       url("../fonts/web/ptsansbold.woff2") format("woff2");
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	text-align: center;
	color: #333333;
	margin: 0;
}
h1 {
	font-weight: bold;
	font-size: 21px; 
	line-height: 26px;
}
header{
	position: relative;
}
a{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
	vertical-align: top;
	margin: 0 auto;
}
.clearfix{
	content: "";
	display: table;
	clear: both;
}
.img-wrap{
	overflow: hidden;
}
.main-content {
	font-size: 14px; 
	line-height: 26px;
	margin-bottom: 60px;
}
.title {
	font-weight: bold;
	font-size: 21px; 
	line-height: 21px;
}
.container{
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 30px 0px #ccc;
}

/* .row {
  font-size: 0;
}
.column {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  font-size: 30px;
  outline: 2px solid lightgreen;
} */
.row {
/*   list-style: none;
  margin: 0;
  padding: 0; */
  /*outline: 2px solid red;*/
  margin: 0;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 33.33%;
  /*outline: 2px solid yellow;*/
}
.column-double {
  width: 66.66%;
  float: left;
}

fieldset{
	border: none;
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
.nav{
	position: relative;
}
.nav-logo{
	position: absolute;
	top: 0;
  	left: 50%;
  	transform: translateX(-50%);
}
.nav-list {
	list-style: none;
 	margin: 0;
 	padding: 12px 0 14px;
 	font-size: 0;
}
.nav-item {
  width: 20%;
  font-size: 14px;
  line-height: 31px;
  display: inline-block;
  font-weight: bold;
}
.nav-item a:hover{
	color: #81b3d2;
}
.nav-item a:active{
	color: rgba(0, 0, 0, 0.3);
}
.nav-information{
	margin-right: 3px;
}
/*.nav-photo{
	margin-left: 4px;
}*/
.nav-map{
	margin-left: 2px;
	letter-spacing: 0.5px;
}
.nav-hotels{
	margin-left: 17px;
}
.nav-item:nth-child(2){
  margin-right: 20%;  
}
.nav-item a{
	color: #000000;
}
.decignation{
	margin-top: 54px;
	margin-bottom: 31px;
	padding: 0 300px;
}
.decignation-content{
	margin-bottom: 53px;
}
/*Текст заголовка не стыкуется с макетом в части. 
Свойство letter-spacing не помогло.*/
.header-spacing{
	letter-spacing: 0.3px;
}
.description, 
.entertainment{
	background-color: #81b3d2;
	color: #ffffff;
}
/*Добавила паддинги к обертке колонки -
- всё увеличилось до размеров страницы. 
Не могу понять в чем причина. 
Из-за установленной ширины?
Тогда не знаю как это исправить.
Пока поставила теги <br> по тексту.*/
.description-wrapper{
    /*padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;*/
}
.description-title{
	margin-top: 55px;
	margin-bottom: 23px;
}
.description-title, 
.entertainment-title{
	font-weight: bold;
    font-size: 21px;
}
/*См комментарий выше*/
.entertainment-wrapper{
	/*padding-top: 56px;
	padding-left: 38px;
	padding-right: 38px;*/
}
.entertainment-title{
	margin-top: 57px;
	margin-bottom: 26px;
}
.description-content{
	margin-top: 21px;
}
.entertainment-content{
	margin-top: 24px;	
}
.services{
	margin-bottom: 56px;
}
.services-title{
	padding-top: 103px;
	font-weight: bold;
	font-size: 21px;
}
.services-content{
	padding: 26px 50px;
	margin: 0 auto;
}
.services-title:before{
	content: "";
	position: absolute;
	padding-top: 210px;
}
.sprite{
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
}
.house{
	background-image: url("../img/sprites.png");
	background-position: 0 -4px;
	width: 75px;
	/*height: 72px;*/
	margin-top: 60px;
}
.burger{
	background-image: url("../img/sprites.png");
	background-position: -114px -6px;
	width: 74px;
	/*height: 70px;*/
	margin-top: 60px;
}
.present{
	background-image: url("../img/sprites.png");
	/*Верхняя часть картинки скрылась при -5px 
	в свойстве background-position.*/
	background-position: -197px -5px; 
	width: 112px;
	/*height: 76px;*/
	margin-top: 61px;
}
.causes{
	background-color: #eeeeee;
	padding-bottom: 46px;
}
.causes-title{
	font-weight: bold;
	font-size: 21px;
	padding-top: 51px;
	padding-bottom: 25px;
}
.causes-square{
	padding-left: 100px;
	padding-right: 100px;
}
.causes-road{
	padding-left: 150px;
	padding-right: 150px;
}
.causes-tourists{
	padding-left: 150px;
	padding-right: 150px;
}
.causes-content-square{
	padding: 10px 71px 0px;
}
.causes-content-road{
	padding: 10px 61px 0px;
}
.causes-content-tourists{
	padding: 10px 61px 0px;
}
.order-header {
	font-weight: bold;
	font-size: 30px; 
	line-height: 24px;
	padding: 35px 0 5px;
}
.order-content{
	padding: 0;
	margin: 0;
}
.order-content-2{
	padding-bottom: 34px;
	margin-top: 5px;
}
.search-title{
	background-color: #766357;
	color: #ffffff;
	margin: 0 316px;
	padding: 33px 0;
}

/*Всплывающее окно.*/
.popup{
	position: absolute;
	z-index: 3;
	margin: 0 auto;
	background-color: #ffffff;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 568px;
	box-shadow: 0 5px 20px -5px #333;
}
.popup-close{
	position: absolute;
	top: 0;
	right: 0;
	width: 22px;
	height: 22px;
	font-size: 0;
	background-color: #ffffff;
	border: 0;
	outline: 0;
	cursor: pointer;
}
.popup-close::before,
.popup-close::after{
	content: "";
	position: absolute;
	width: 19px;
	height: 3px;
	background-color: #766357;
	border-radius: 1px;
	top: 10px;
	left: 2px;
}
.popup-close::before{
	transform: rotate(45deg);
}
.popup-close::after{
	transform: rotate(-45deg);
}
.search-card{
	margin-top: 55px;
}
.search-card input{
	background-color: #f2f2f2;
	outline: 2px solid #f2f2f2;
}
.search-card input:hover{
	background-color: #ebebeb;
}
.search-card input:active{
	background-color: #ffffff;
}
.search-item{
	text-align: left;
	padding-bottom: 32px;
	padding-left: 54px;
}
.search-data-date, 
.search-data-number{
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	border: none;
}
.search-data-date{
	width: 331px;
	height: 35px;
	/*Не совпадает текст с макетом.*/
	padding-left: 13px;
}
	.search-data-date:focus{
		background-color: green; /*Поменять*/
	}
	/*Не получается календарик расположить на инпуте.*/
/*.search-data-date::after{
	content: "";
	position: relative;
	z-index: 4
	background-color: #f2f2f2;
}*/
input[name="checkin-date"]{
	position: relative;
	z-index: 4
	margin-left: 18px;
	margin-right: 0px;
	font: inherit;
	color: inherit;
	width: 331px;
	height: 42px;
	padding-left: 10px;
	padding-right: 30px;
}
input[name="checkout-date"]{
	position: relative;
	z-index: 4
	margin-left: 15px;
	margin-right: 0;
	font: inherit;
	color: inherit;
	width: 331px;
	height: 42px;
	padding-left: 10px;
	padding-right: 30px;
}
/*версия календаря, 
когда пользователь на него не кликал*/
.calendar{
	position: absolute;
	z-index: 5;
	background-image: url("../img/sprites4.png");
	background-position: 279px -14px;
	width: 21px;
	height: 22px;
	cursor: pointer;
	background-repeat: no-repeat;
}
/*версия календаря по наведению мышки*/
.calendar:hover{
	background-image: url("../img/sprites4.png");
	background-position: 279px -63px;
	width: 21px;
	height: 22px;
}
/*версия календаря в момент, 
когда пользователь на него кликнул*/
.calendar:active{
	background-image: url("../img/sprites4.png");
	background-position: -279px -114px;
	width: 21px;
	height: 22px;
}
.search-data{
	font-weight: bold;
	line-height: 26px;
	color: #000000;
}
.search-people{
	margin-bottom: 51px;
	text-align: left;
}
.search-number{
	display: inline-block;
}

.search-data-number{
	position: relative;
	z-index: 7;
	padding: 3px 14px;
	width: 110px;
	height: 38px;
	font: inherit;
	color: inherit;
	text-align: center;
	font-weight: bold;
}
.minus-icon::before,
.plus-icon::after{
	content: "";
	position: absolute;

}
.adults{
	padding-left: 54px;
	padding-right: 40px;
}
.children{
	padding-left: 50px;
	padding-right: 24px;
}
/.symbols{
	display: inline-block;
	background-color: #f2f2f2;
	/*padding: 19px 17px;*/
}
.minus{
	position: absolute;
	z-index: 8;
	background-image: url("../img/sprites5.png");
	background-position: -14px -3px;
	width: 23px;
	height: 34px;
	cursor: pointer;
	background-repeat: no-repeat;
}
.minus:hover{
	background-image: url("../img/sprites5.png");
	background-position: -14px -51px;
	width: 23px;
	height: 34px;
}
.minus:active{
	background-image: url("../img/sprites5.png");
	background-position: -14px -99px;
	width: 23px;
	height: 34px;
}
/*Что-то поменяла, что сместило плюс на следующую строку.
А теперь он совсем пропал.
Никак не могу разобраться как его вернуть в инпут.*/
/*.plus-children{
	position: absolute;
	top: 196px;
	left: 470px;
}
.plus-adults{
	position: absolute;
	top: 196px;
	left: 200px;
}*/
}
.plus{
	position: absolute;
	z-index: 8;
	background-image: url("../img/sprites5.png");
	background-position: -4px -144px;
	width: 28px;
	height: 40px;
	background-color: green;
	cursor: pointer;
	background-repeat: no-repeat;
}
.plus:hover{
	background-image: url("../img/sprites5.png");
	background-position: -4px -199px;
	width: 28px;
	height: 40px;
}
.plus:active{
	background-image: url("../img/sprites5.png");
	background-position: -4px -247px;
	width: 28px;
	height: 40px;
}
.search-btn{
	color: #ffffff;
	background-color: #81b3d2;
	padding: 17px 196px;
	margin-bottom: 54px;
	border: none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 26px;
	cursor: pointer;
}
.search-btn:hover{
	background-color: #669ec0;
}
.search-btn:active{
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}
.map{
	z-index: 2;
}
footer{
	position: relative;
}
footer .content{	
	background-color: rgba(255, 255, 255, 0.9);
	position: absolute;
	width: 1200px;
	bottom: 0;
}
.hashtag{
	padding: 40px 0;
	font-weight: bold;
	font-size: 21px;
}
.hashtag a{
	color: #000000;
}
.social-link{
	display: block;
	margin: 0 auto;
	width: 46px;
	height: 48px;
}
.icon-btn{
	margin-left: auto;
	margin-right: auto;
}
footer .social-item{
	display: inline-block;
	float: left;
	background-color: #81b3d2;
	margin-right: 7px;
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
}
.social-item:hover{
	background-color: #669ec0;
}
.social-item:active{
	background-color: #5496bd;
}
.social-list{
	padding: 35px 80px;
	margin-left: 44px;
}
.twitter-btn{
	background-image: url("../img/sprites.png");
	background-position: -31px -100px;
	width: 17px;
	height: 15px;
	margin-top: 15px;
}
.facebook-btn{
	background-image: url("../img/sprites.png");
	background-position: -88px -100px;
	width: 10px;
	height: 19px;
	margin-top: 12px;
}
.youtube-btn{
	background-image: url("../img/sprites.png");
	background-position: -128px -100px;
	width: 20px;
	height: 16px;
	margin-top: 15px;
}
.copyright{
	display: inline-block;
	padding: 30px 0;
}
.copyright-content{
	float: left;
	margin-right: 10px;
	padding-left: 85px;
}
.copyright-btn{
	float: left;
}



/*inner*/

.main-container{
	padding: 0 6%;
	margin: 0 auto;
	background-image: url("../img/sedonabackground.jpg");
	background-repeat: no-repeat;
}
.column-item{
	display: inline-block;
	vertical-align: top;
}
form.search{
	color: #ffffff;
}
fieldset{
	display: inline-block;
	float: left;
}
legend{
	font-weight: bold;
	font-size: 16px;
}
.checkbox-title-first{
	padding: 27px 0 25px 0;
	margin: 0;
	text-align: left;
}
.checkbox-title-second{
	padding: 28px 115px 25px 0;
	margin: 0;
	text-align: left;
}
.search-label{
	position: relative;
	display: block;
	font-weight: normal;
	cursor: pointer;
	margin: 0;
	text-align: left;
	padding-bottom: 26px;
}
input[type="checkbox"]{
	display: none; /*Opacity - если не сработает display.*/
	vertical-align: middle;
	margin-right: 18px;
	/*background: none;*/
}
/*Нестандартные чекбоксы пустые.*/
input[type="checkbox"] + .checkbox-icon{
	position: absolute;
	background-image: url("../img/sprites4.png");
	background-position: -27px -178px;
	width: 22px;
	height: 22px;
	
}
input[type="checkbox"]
	:checked + .checkbox-icon
	::before,
input[type="checkbox"]
	:checked + .checkbox-icon
	::after{
		content: "";
		position: absolute;
		background-image: url("../img/sprites4.png");
		background-position: -27px -178px;
		width: 22px;
		height: 22px;
	}
input[type="checkbox"]
	:checked + .checkbox-icon
	::before{
		position: absolute;
		background-image: url("../img/sprites4.png");
		background-position: -27px -178px;
		width: 22px;
		height: 22px;
	}
input[type="checkbox"]
	:checked + .checkbox-icon
	::after{
		position: absolute;
		background-image: url("../img/sprites4.png");
		background-position: -23px -328px;
		width: 26px;
		height: 22px;
	}
/*Нестандартные чекбоксы отмеченные.*/
input[type="checkbox"] + .icon-checked{
	position: absolute;
	background-image: url("../img/sprites4.png");
	background-position: -23px -328px;		
	width: 26px;
	height: 22px;
	
}
input[type="checkbox"]
	:checked + .checkbox-icon
	::before,
input[type="checkbox"]
	:checked + .checkbox-icon
	::after{
		content: "";
		position: absolute;
		background-image: url("../img/sprites4.png");
		background-position: -23px -328px;
		width: 26px;
		height: 22px;
	}
input[type="checkbox"]
	:checked + .checkbox-icon
	::before{
		position: absolute;
		background-image: url("../img/sprites4.png");
		background-position: -2px -328px;
		width: 26px;
		height: 22px;
	}
input[type="checkbox"]
	:checked + .checkbox-icon
	::after{
		position: absolute;
		background-image: url("../img/sprites4.png");
		background-position: -27px -178px;
		width: 22px;
		height: 22px;
	}
/*.checkbox-icon::after{
	content: "";
	position: absolute;
	padding-left: 30px;
}
.checkbox{
	position: absolute;
	z-index: 4;
	background-position: -26px -63px;
	width: 22px;
	height: 22px;*/
}
.checkbox:hover{
	background-position: -77px -64px;
	width: 22px;
	height: 22px;
}
.checkbox:active{
	background-position: -126px -63px;
	width: 22px;
	height: 22px;
}
.options{
	padding-left: 40px;
	display: block;
	padding-right: 148px;
}
/*
.pool{
	padding: 17px 0 0 23px;
}
.parking{
	padding: 20px 0 0 32px;
}
.internet{
	padding: 20px 0 0 0;
}
.hotel{
	padding: 22px 0 0 99px;
}
.motel{
	padding: 20px 0 0 74px;
}
.apartaments{
	padding: 20px 0 0 118px;
}*/
.filter-range{
	width: 328px;
	/*margin: 50px auto;*/
	color: #ffffff;
	transform: uppercase;
}
.range-title{
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	margin-top: 27px;
	margin-bottom: 10px;
	padding-left: 25px;
	text-align: left;
}
.span-price{
	position: relative;
	height: 36px
	margin-bottom: 20px;
	margin-left: 35px;
	border: 3px solid #ffffff;
	border-radius: 2px;
	font-size: 0;
	margin-bottom: 20px;
}
.span-price::after{
	content: "";
	position: absolute;
	width: 2px;
	height: 22px;
	background-color: #ffffff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.span-price label{
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}
.min-price,
.max-price{
	width: 90px;
	padding-left: 5px;
}
.span-price input{
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	outline: none;
}
.range{
	position: relative;
	margin-bottom: 32px;
	margin-left: 20px;
	text-align: left;
}
.scale{
	height: 2px;
	background-color: rgba(255, 255, 255, 0.3);
}
.bar{
	width: 80%;
	height: 2px;
	background-color: #ffffff;
}
.range-toggle{
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	/*Свойство background-color не подключилось.*/
	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}
.range-toggle:hover{
	background-color: #1c4f80;
}
.range-toggle-min{
	left: 0;
}
.range-toggle-max{
	left: 80%;
}
.search-hotel-btn{
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}
.search-hotel-btn:hover{
	color: #000000;
	background-color: #ffffff;
}
/*
.span{
	border: 2px solid #ffffff;
	margin: 0 0 10px 34px;
	padding: 3px 0;
}
.span-price{
	cursor: pointer;
}
.min{
	padding: 0 60px;
}
.max{
	padding: 0 49px;
}
input[type="range"]{
	width: 265px;
}
.search-hotel-btn{
	border: 2px solid #ffffff;
	padding: 10px 25px;
	text-transform: uppercase;
	background: transparent;
	color: #ffffff;
	/*shadow #886458*/
/*}
.search-hotel-btn:hover{
	background-color: #ffffff;
	color: #000000;
	/*shadow #aaaaaa*/
/*}*/
.search-line{
	margin: 59px 0;
}
.result{
	display: inline-block;
	float: left;
}
.switch{
	float: right;
}
.found{
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	margin: 0 47px 0 0;
	padding-bottom: 29px;
}
.sorting{
	font-size: 12px;
	line-height: 18px;
}
.result-sorting{
	padding: 4px 39px 0 1px;
}
.sorting-item{
	list-style: none;
	float: left;	
	padding: 0;
	margin: 5px 32px 0 1px;
}
.sorting-item a{
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted;
	border-color: #81b3d2;
}
.current a{
	color: #81b3d2;
	border: none;
}
.switch{
	margin: 2px 0;
}
.switch-up{
	padding-right: 6px;
	color: rgba(0, 0, 0, 0.3);
}
.switch-down{
	color: #81b3d2;
}
.hotels{
	text-align: left;
	border-bottom: 1px solid #cccccc;
	clear: both;
	padding-bottom: 6px;
}
 .hotels-image{
 	padding: 26px 26px 23px 0;
 }
 .hotel-block{
 	display: inline-block;
 	float: left;
 }
 .title-hotel{
 	padding-top: 7px;
 	margin-top: 17px;
 	margin-bottom: 0;
 }
 .type, .price{
 	padding-top: 9px;
 	padding-bottom: 20px;
 }
 .type-hotel, .price-hotel{
 	color: #333333;
 	padding-right: 26px;
 }
.hotel-link{
	color: #ffffff;
 	font-weight: bold;
 	display: block;
 	margin-top: 13px;
 	margin-right: 3px;
 	padding: 3px 16px;
}
 .hotels-link-more{
 	background-color: #81b3d2;
 	margin-right: 6px;
 }
 .hotels-link-book{
 	background-color: #766357;
 }
.rating{
	float: right;
	text-align: right;
	padding-top: 20px;
}
.four-stars{
	background-image: url("../img/sprites3.png");
	background-position: 18px -32px;
	width: 110px;
	height: 17px;
	background-repeat: no-repeat;
}
.two-stars{
	background-image: url("../img/sprites3.png");
	background-position: 41px -76px;
	width: 110px;
	height: 27px;
	background-repeat: no-repeat;
}
.three-stars{
	background-image: url("../img/sprites3.png");
	background-position: 29px -122px;
	width: 110px;
	height: 27px;
	background-repeat: no-repeat;
}
.rating-grade{
	padding: 3px 13px;
	margin-top: 42px;
	background-color: #f2f2f2;
}


/*
.house{
background-position: 0 -4px;
width: 75px;
height: 72px;
}
.burger{
background-position: -114px -6px;
width: 74px;
height: 70px;
}
.present{
background-position: -221px 0;
width: 64px;
height: 76px;
}
.twitter{
background-position: -31px -100px;
width: 17px;
height: 15px;
}
.facebook{
background-position: -88px -100px;
width: 10px;
height: 19px;
}
.youtube{
background-position: -128px -100px;
width: 20px;
height: 16px;
}
.htmlacademy{
background-position: -11px -10px;
width: 113px;
height: 39px;
}

sprites4

.checkbox{
background-position: -27px -178px;
width: 22px;
height: 22px;
}
.checkbox_hvr{
background-position: -27px -227px;
width: 22px;
height: 22px;
}
.checkbox_disabled{
background-position: -25px -277px;
width: 22px;
height: 22px;
}
.checkbox_checked{
background-position: -23px -328px;
width: 26px;
height: 22px;
}
.checkbox_checked_hover{
background-position: -23px -377px;
width: 26px;
height: 22px;
}
.checkbox_checked_disabled{
background-position: -23px -427px;
width: 26px;
height: 22px;
}


.slide{
background-position: -51px -111px;
width: 20px;
height: 23px;
}
.slide_hvr{
background-position: -101px -112px;
width: 20px;
height: 23px;
}


sprites4

.calendar{
background-position: -27px -26px;
width: 21px;
height: 22px;
}
.calendar_hvr{
background-position: -28px -76px;
width: 21px;
height: 22px;
}
.calendar_down{
background-position: -28px -127px;
width: 21px;
height: 22px;
}

sprites5

.minus{
background-position: -19.015625px -23px;
width: 12px;
height: 3px;
}
.minus_hvr{
background-position: -19px -71px;
width: 12px;
height: 3px;
}
.minus_down{
background-position: -19.015625px -120.99998474121094px;
width: 12px;
height: 3px;
}
.plus{
background-position: -18px -164.00001525878906px;
width: 11px;
height: 11px;
}
.plus_hvr{
background-position: -20.015625px -219.00001525878906px;
width: 11px;
height: 11px;
}
.plus_down{
background-position: -19.015625px -267.99998474121094px;
width: 11px;
height: 11px;
}


.stars4{
background-position: -4px -32px;
width: 89px;
height: 17px;
}
.stars2{
background-position: -28px -81px;
width: 42px;
height: 17px;
}
.stars3{
background-position: -17px -132px;
width: 65px;
height: 17px;
}
*/