
body {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	text-align: center;
	color: #333333;
	margin: 0;
}
h1 {
	font-weight: bold;
	font-size: 21px; 
	line-height: 26px;
}
header{
	position: relative;
}
a{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
	vertical-align: top;
	margin: 0 auto;
}

.img-wrap{
	overflow: hidden;
}

.main-content {
	font-size: 14px; 
	line-height: 26px;
	margin-bottom: 60px;
}

.title {
	font-weight: bold;
	font-size: 21px; 
	line-height: 21px;
}
.container{
	width: 1200px;
	margin: 0 auto;
}

/* .row {
  font-size: 0;
}
.column {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  font-size: 30px;
  outline: 2px solid lightgreen;
} */
.row {
/*   list-style: none;
  margin: 0;
  padding: 0; */
  /*outli*/ne: 2px solid red;
  margin: 0;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 33.33%;
  /*outline: 2px solid yellow;*/
}
.column-double {
  width: 66.66%;
  float: left;
}

fieldset{
	border: none;
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}

.nav{
	position: relative;
}
.nav-logo{
	position: absolute;
	top: 0;
  	left: 50%;
  	transform: translateX(-50%);
}

.nav-list {
	list-style: none;
 	margin: 0;
 	padding: 12px 0 14px;
 	font-size: 0;
}
.nav-item {
  width: 20%;
  font-size: 14px;
  line-height: 31px;
  display: inline-block;
  font-weight: bold;
}
.nav-information{
	margin-left: -2px;
}
.nav-map{
	margin-left: 2px;
}
.nav-hotels{
	margin-left: 14px;
}

.nav-item:nth-child(2) {
  margin-right: 20%;  
}
.nav-item a{
	color: #000000;
}


.decignation{
	margin-top: 54px;
	margin-bottom: 29px;
	padding: 0 300px;
}
.decignation-content{
	margin-bottom: 53px;
}


.description, .entertainment{
	background-color: #81b3d2;
	color: #ffffff;
}

.description-title{
	padding: 55px 139px 23px;
}

.description-title, .entertainment-title{
	font-weight: bold;
    font-size: 21px;
}

.entertainment-title{
	padding: 55px 119px 23px;
}

.description-content{
	padding: 7px 50px 0;
}
.entertainment-content{
	padding: 7px 38px 0;	
}

.house{
	background-image: url("../img/sprites.png");
	background-position: 0 -4px;
	width: 75px;
	height: 72px;
	margin-top: 63px;
	margin-bottom: 28px;
}
.burger{
	background-image: url("../img/sprites.png");
	background-position: -114px -6px;
	width: 74px;
	height: 70px;
	margin-top: 64px;
	margin-bottom: 28px;
}
.present{
	background-image: url("../img/sprites.png");
	background-position: -221px 0;
	width: 64px;
	height: 76px;
	margin-top: 61px;
	margin-bottom: 25px;
}
.sprite{
	margin-left: auto;
	margin-right: auto;
	
	background-repeat: no-repeat;
}
.services{
	margin-bottom: 64px;
}
.services-title{
	padding: 5px 0;
	font-weight: bold;
	font-size: 21px;
}
.services-content{
	padding: 4px 50px;
}
.causes{
	background-color: #eeeeee;
	padding-bottom: 46px;
}
.causes-title{
	font-weight: bold;
	font-size: 21px;
	padding-top: 48px;
	padding-bottom: 23px;
}
.causes-square{
	padding-left: 100px;
	padding-right: 100px;
}
.causes-road{
	padding-left: 150px;
	padding-right: 150px;
}
.causes-tourists{
	padding-left: 150px;
	padding-right: 150px;
}

.causes-content-square{
	padding: 7px 71px 0px;
}

.causes-content-road{
	padding: 7px 61px 0px;
}

.causes-content-tourists{
	padding: 7px 61px 0px;
}

.order-header {
	font-weight: bold;
	font-size: 30px; 
	line-height: 24px;
	padding: 32px 0 5px;
}
.order-content{
	padding: 0;
	margin: 0;
}
.order-content-2{
	padding-bottom: 33px;
	margin-top: 3px;
}


.search-title{
	background-color: #766357;
	color: #ffffff;
	margin: 0 316px;
	padding: 33px 0;
}

.search form{
	position: absolute;
	z-index: 1;
	margin: 0 auto;
	background-color: #ffffff;
	margin: 0 318px;
}
.search-data input{
	background-color: #f2f2f2;
	border: none;
}
label{
	font-weight: bold;
	line-height: 26px;
}
.check-in{
	margin: 56px 45px 27px 40px;
}
.check-out{
	margin: 0px 45px 28px 36px;
}
.search-data{
	color: #000000;
}
.search-data-date{
	padding: 13px 130px 12px 15px;
	font-weight: bold;
	width: 142px;
	font-size: 13px;
	text-transform: uppercase;
}
input[name="checkin-date"]{
	margin-left: 20px;
	margin-right: 0px;
}
input[name="checkout-date"]{
	margin-left: 18px;
	margin-right: 0;
}
.calendar{
	background-color: #f2f2f2;
	padding: 12px 14px;
	margin-right: 15px;
}
.calendar img{
	vertical-align: middle;
	margin: 8px 7px 10px 11px;
}
.search-people{
	margin-bottom: 51px;
}
.search-number{
	display: inline-block;
}

.children{
	margin-left: 54px;	
}
.search-data-number{
	padding: 14px;
	width: 15px;
	text-align: center;
	font-weight: bold;
}
.minus{
	margin-left: 38px;
}
.plus{
	margin-right: -6px;
}
.symbols{
	color: #a9a9a9;
}
.search-people span{
	background-color: #f2f2f2;
	vertical-align: middle;
	padding: 12px 14px;
}

.search-btn{
	color: #ffffff;
	background-color: #81b3d2;
	padding: 17px 196px;
	margin-bottom: 54px;
	border: none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 26px;
	cursor: pointer;
}

.map{
	z-index: 2;
}

footer{
	position: relative;

}
footer .content{	
	background-color: rgba(255, 255, 255, 0.9);
	position: absolute;
	width: 1200px;
	bottom: 0;
}
.hashtag{
	padding: 40px 0;
	font-weight: bold;
	font-size: 21px;
}
footer .social-item{
	display: inline-block;
	float: left;
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
	margin-right: 7px;
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
} 
.social-link{
	display: block;
	margin: 0 auto;
}

.social-list{
	padding: 35px 80px;
	margin-left: 44px;
}
.twitter-btn{
	background-image: url("../img/sprites.png");
	background-position: -31px -100px;
	width: 17px;
	height: 15px;
	margin-top: 15px;
}

.facebook-btn{
	background-image: url("../img/sprites.png");
	background-position: -88px -100px;
	width: 10px;
	height: 19px;
	margin-top: 12px;
}
.youtube-btn{
	background-image: url("../img/sprites.png");
	background-position: -128px -100px;
	width: 20px;
	height: 16px;
	margin-top: 15px;
}

.copyright{
	display: inline-block;
	padding: 30px 0;
}
.copyright-content{
	float: left;
	margin-right: 10px;
	padding-left: 85px;
}

.copyright-btn{
	float: left;
}



/*inner*/

.main-container{
	padding: 0 6%;
	margin: 0 auto;
	background-image: url("../img/sedonabackground.jpg");
	background-repeat: no-repeat;
}
.column-item{
	display: inline-block;
	vertical-align: top;
}

form.search{
	color: #ffffff;
}
fieldset{
	display: inline-block;
	float: left;
}
legend{
	font-weight: bold;
	font-size: 16px;
}
.search-first{
	padding: 27px 0 5px 0;
	margin: 0;
}
.search-second{
	padding: 27px 115px 0 114px;
	margin: 0;
}
.search-third{
	padding-top: 27px;
	margin-left: 20px;
	text-align: left;
}

.search-label{
	display: block;
	font-weight: normal;
	cursor: pointer;
	margin: 0;
	padding: 0;
}
/*Можно ли поменять с помощью Java Script вид чекбокса?*/
input[type="checkbox"]{
	vertical-align: middle;
	margin-right: 18px;
	margin-left: -60px;
	/*
	background: none;
	*/
}
.pool{
	padding: 17px 0 0 23px;
}
.parking{
	padding: 20px 0 0 32px;
}
.internet{
	padding: 20px 0 0 0;
}
.hotel{
	padding: 22px 0 0 99px;
}
.motel{
	padding: 20px 0 0 74px;
}
.apartaments{
	padding: 20px 0 0 118px;
}

.span{
	border: 2px solid white;
	margin: -17px 0 10px 34px;
	padding: 3px 0;
}
.span-price{
	cursor: pointer;
}
.min{
	padding: 0 60px;
}
.max{
	padding: 0 49px;
}
input[type="range"]{
	width: 265px;
}
.search-hotel-btn{
	border: 2px solid white;
	padding: 10px 25px;
	text-transform: uppercase;
	background: none;
	color: #ffffff;
}

.search-line{
	margin: 59px 0;
}

.result{
	display: inline-block;
	float: left;
}
.switch{
	float: right;
}
.found{
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	margin: 0 47px 0 0;
	padding-bottom: 29px;
}
.sorting{
	font-size: 12px;
	line-height: 18px;
}
.result-sorting{
	padding: 4px 39px 0 1px;
}
.sorting-item{
	list-style: none;
	float: left;	
	padding: 0;
	margin: 5px 32px 0 1px;
}
.sorting-item a{
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted;
	border-color: rgba(0, 0, 0, 0.7);
}
.current a{
	color: #81b3d2;
	border: none;
}
.switch{
	margin: 2px 0;
}
.switch-up{
	padding-right: 6px;
	color: rgba(0, 0, 0, 0.3);
}
.switch-down{
	color: #81b3d2;
}

.hotels{
	text-align: left;
	clear: both;
}
hr{
	clear: both;
	color: #cccccc;
}
 .hotels-image{
 	padding: 22px 26px 23px 0;
 }
 
 .hotel-block{
 	display: inline-block;
 	float: left;
 }
 .title-hotel{
 	padding-top: 3px;
 	margin-top: 17px;
 	margin-bottom: 0;
 }
 .type, .price{
 	width: 116px;
 	padding-top: 9px;
 	padding-bottom: 20px;
 }
 .type-hotel, .price-hotel{
 	color: #333333;
 	padding-right: 26px;
 }
.hotel-link{
	color: #ffffff;
 	font-weight: bold;
 	padding: 4px 17px;
 	display: block;
 	margin-top: 13px;
}
 .hotels-link-more{
 	background-color: #81b3d2;
 	width: 76px;
 }
 .hotels-link-book{
 	background-color: #766357;
 	width: 108px;
 }

.rating{
	float: right;
	text-align: right;
	margin: 20px 0 20px 67px;
}
.rating-stars{
	color: #81b3d2;
	font-size: 19px;
	letter-spacing: 4px;
	margin: 1px 1px;
}
.rating-grade{
	margin: 46px 18px 0 0;
}