
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "PT Sans";
  src: url("../fonts/web/ptsans.woff") format("woff"),
       url("../fonts/web/ptsans.woff2") format("woff2")
       url("../fonts/web/ptsansbold.woff") format("woff"),
       url("../fonts/web/ptsansbold.woff2") format("woff2");
}

body {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	text-align: center;
	color: #333333;
	margin: 0;
}
h1 {
	font-weight: bold;
	font-size: 21px; 
	line-height: 26px;
}
h2{
	margin: 0 auto;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}
header{
	position: relative;
}
a{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
	vertical-align: top;
	margin: 0 auto;
}
.clearfix{
	content: "";
	display: table;
	clear: both;
}
.img-wrap{
	overflow: hidden;
}
.main-content {
	font-size: 14px; 
	line-height: 26px;
	margin-bottom: 60px;
}
.title {
	font-weight: bold;
	font-size: 21px; 
	line-height: 21px;
}
.container{
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 30px 0px #ccc;
}
.row {
  margin: 0;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
}
.column-double {
  width: 66.66%;
  float: left;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
fieldset{
	border: none;
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
.nav{
	position: relative;
}
.nav-logo{
	position: absolute;
	top: 0;
  	left: 50%;
  	transform: translateX(-50%);
}
.nav-list {
	list-style: none;
 	margin: 0;
 	padding: 12px 0 13px;
 	font-size: 0;
}
.nav-item {
  width: 20%;
  font-size: 14px;
  line-height: 31px;
  display: inline-block;
  font-weight: bold;
}
.nav-item a:hover{
	color: #81b3d2;
}
.nav-item a:active{
	color: rgba(0, 0, 0, 0.3);
}
.nav-information{
	margin-right: 3px;
}
.nav-photo{
	margin-left: 2px;
}
.nav-map{
	margin-left: 4px;
}
.nav-hotels{
	margin-left: 17px;
}
.nav-item:nth-child(2){
  margin-right: 20%;  
}
.nav-item a{
	color: #000000;
}
.decignation{
	width: 500px;
	text-align: center;
	padding: 55px 0 18px;
	margin: 0 auto;
}
.decignation-content{
	margin-bottom: 52px;
}
.description, 
.entertainment{
	background-color: #81b3d2;
	color: #ffffff;
	overflow: hidden;
}
.description-wrapper,
.entertainment-wrapper{
	padding: 0 47px;
    box-sizing: border-box;
}
.description-title, 
.entertainment-title{
	font-weight: bold;
    font-size: 21px;
}
.description-title{
	margin-top: 57px;
	margin-bottom: 24px;
}
.entertainment-title{
	margin-top: 58px;
	margin-bottom: 25px;
}
.description-content{
	margin-top: 23px;
}
.entertainment-content{
	margin-top: 23px;	
}
.services{
	padding-bottom: 58px;
}
.services-item{
	padding: 163px 50px 24px;
	margin: 0 auto;
}
.services-title{
	position: relative;
	font-weight: bold;
	font-size: 21px;
}
.services-content{
	padding-top: 25px;
	margin: 0 auto;
}
.services-title::before{
	content: "";
	position: absolute;
	/* Для top размер -107 нормальный или лучше 
	padding-top: 163px; добавить .services-title 
	вместо .services-item? */
	top: -107px;
	left: 112px;
	background-image: url("../img/sprites.png");
	width: 88px;
	height: 76px;
}
.house:before{
	width: 75px;
	height: 76px;
	background-position: 0 0;
}
.burger:before{
	background-position: -113px 0;
	width: 74px;
	height: 76px;
}
.present:before{
	background-position: -214px 0; 
	width: 72px;
	height: 78px;
}
.causes-item{
	padding: 0 60px;
}
.causes{
	background-color: #eeeeee;
	padding-top: 50px;
	padding-bottom: 58px;
}
.causes-title{
	font-weight: bold;
	font-size: 21px;
	padding: 0 80px 25px;
}
.causes-content{
	margin: 0 auto;
	padding-top: 23px;
}
.search-order{
	padding: 58px 0 47px;
}
.order-header {
	font-size: 30px; 
	line-height: 24px;
	padding-bottom: 29px;
}
.order-content{
	margin: 0;
	line-height: 24px;
}
/* Или в данном случае лучше использовать 
тег <br> и объединить два абзаца? */
.order-content-2{
	margin-top: 0;
	margin-bottom: 0;
	line-height: 24px;
}
.search-title{
	background-color: #766357;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	margin: 0 316px;
	padding: 30px 0;
}
/* Всплывающее окно */
.popup{
	position: absolute;
	z-index: 2;
	margin: 0 auto;
	background-color: #ffffff;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 568px;
	box-shadow: 0 5px 20px -5px #333;
}
.popup-close{
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 19px;
	font-size: 0;
	background-color: #ffffff;
	border: 0;
	outline: 0;
	cursor: pointer;
}
.popup-close::before,
.popup-close::after{
	content: "";
	position: absolute;
	width: 19px;
	height: 3px;
	background-color: #766357;
	border-radius: 1px;
	top: 10px;
	left: 6px;
}
.popup-close::before{
	transform: rotate(45deg);
}
.popup-close::after{
	transform: rotate(-45deg);
}
.search-card{
	margin-top: 56px;
	height: 172px;
	margin-bottom: 53px;
}
.check-in{
	padding-bottom: 31px;
	padding-left: 56px;
}
.check-out{
	padding-bottom: 33px;
	padding-left: 55px;
}
.check-in label{
	margin-right: 19px;
}
.check-out label{
	margin-right: 15px;
}
.search-date{
	text-align: left;
}
.search-data-date, 
.search-data-number{
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	border: none;
}
.search-data-date{
	width: 296px;
	height: 31px;
	padding-left: 12px;
	padding-top: 4px;
	padding-right: 35px;
}
.search-card input{
	position: relative;
	z-index: 3;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #f2f2f2;
	outline: 2px solid #f2f2f2;
}
.search-card input:hover{
	background-color: #ebebeb;
}
.search-card input:active{
	background-color: #ffffff;
}
/* Стиль для сообщения об ошибке формы */
.search form label.error{
	display: block;
	position: absolute;
	padding-left: 89px;
}
/* Версия календаря, когда 
пользователь на него не кликал */
.calendar{
	position: absolute;
	z-index: 4;
	background-image: url("../img/sprites4.png");
	width: 35px;
	height: 35px;
	right: 55px;
	background-color: #f2f2f2;
	background-position: 282px -19px;
	cursor: pointer;
}
/* Версия календаря по наведению мышки */
.calendar:hover{
	background-image: url("../img/sprites4.png");
	background-position: 282px -68px;
	width: 35px;
	height: 35px;
}
/* Версия календаря в момент, когда п
ользователь на него кликнул */
.calendar:active{
	background-image: url("../img/sprites4.png");
	background-position: -282px -120px;
	width: 35px;
	height: 35px;
}
.search-data{
	font-weight: bold;
	line-height: 26px;
	color: #000000;
}
.search-people{
	margin-bottom: 51px;
	text-align: left;
}
.search-number{
	display: inline-block;
}
.search-data-number{
	padding: 0 25px;
	width: 61px;
	height: 32px;
	text-align: center;
	font-weight: bold;
	padding-top: 2px;
}
.adults{
	padding-left: 55px;
	margin-right: 39px;
}
.children{
	padding-left: 51px;
	margin-right: 24px;
}
.symbols{
	display: inline-block;
	background-color: #f2f2f2;
}
.minus-adults,
.minus-adults:hover,
.minus-adults:active,
.minus-children,
.minus-children:hover,
.minus-children:active,
.plus-adults,
.plus-adults:hover,
.plus-adults:active,
.plus-children,
.plus-children:hover,
.plus-children:active{
	width: 34px;
	height: 34px;
}
.minus-adults{
	position: absolute;
	z-index: 4;
	background-image: url("../img/sprites5.png");
	background-position: -8px -7px;
	left: 169px;
	cursor: pointer;
}
.minus-adults:hover{
	background-image: url("../img/sprites5.png");
	background-position: -8px -55px;
}
.minus-adults:active{
	background-image: url("../img/sprites5.png");
	background-position: -8px -104px;
}
.minus-children{
	position: absolute;
	z-index: 4;
	background-image: url("../img/sprites5.png");
	background-position: -6px -7px;
	right: 134px;
	cursor: pointer;
	background-repeat: no-repeat;
}
.minus-children:hover{
	background-image: url("../img/sprites5.png");
	background-position: -6px -55px;
}
.minus-children:active{
	background-image: url("../img/sprites5.png");
	background-position: -6px -104px;
}
.plus-adults{
	position: absolute;
	z-index: 4;
	background-image: url("../img/sprites5.png");
	background-position: -8px -152px;
	top: 192px;
	left: 246px;
	background-color: #f2f2f2;
	cursor: pointer;
}
.plus-adults:hover{
	background-image: url("../img/sprites5.png");
	background-position: -11px -207px;
}
.plus-adults:active{
	background-image: url("../img/sprites5.png");
	background-position: -9px -255px;
}
.plus-children{
	position: absolute;
	z-index: 4;
	background-image: url("../img/sprites5.png");
	background-position: -7px -152px;
	top: 192px;
	right: 56px;
	background-color: #f2f2f2;
	cursor: pointer;
}
.plus-children:hover{
	background-image: url("../img/sprites5.png");
	background-position: -10px -207px;
}
.plus-children:active{
	background-image: url("../img/sprites5.png");
	background-position: -8px -255px;
}
.search-btn{
	color: #ffffff;
	background-color: #81b3d2;
	padding: 17px 196px;
	margin-bottom: 54px;
	border: none;
	font: inherit;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 26px;
	cursor: pointer;
}
.search-btn:hover{
	background-color: #669ec0;
}
.search-btn:active{
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}
/* Интерактивная карта */
.map-wrapper{
	overflow:hidden;
	height:592px;
	width:1200px;
}
.map-interactive{
	max-width: none;
	background:none;
	height:592px;
	width:1200px;
}
footer{
	position: relative;
	z-index: 1
	margin: 0 auto;
}
footer .content{	
	background-color: rgba(255, 255, 255, 0.9);
	position: absolute;
	z-index: 2;
	width: 1200px;
	height: 59px;
	bottom: 0;
	padding: 30px 0;
	margin: 0 auto;
}
.hashtag{
	padding: 20px 0;
	font-weight: bold;
	font-size: 21px;
}
.hashtag a{
	color: #000000;
}
.social{
	position: relative;
}
.social-list{
	position: absolute;
	/* Отрицательное значение для top считается нормальным 
	или лучше другим способом выровнять список? 
	При установлении position: relative; для ul 
	и position: absolut; для li теряются 
	два первых li */
	top: -7px;
	left: 124px;
}
.social-item{
	display: inline-block;
	background-color: #81b3d2;
	margin-right: 2px;
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
}
.social-item:hover{
	background-color: #669ec0;
}
.social-item:active{
	background-color: #5496bd;
}
.social-link{
	display: inline-block;
	margin: 0 auto;
	width: 46px;
	height: 48px;
}
.icon-btn{
	margin-left: auto;
	margin-right: auto;
}

.twitter-btn{
	background-image: url("../img/sprites.png");
	background-position: -30px -98px;
	width: 17px;
	height: 15px;
	margin-top: 15px;
}
.facebook-btn{
	background-image: url("../img/sprites.png");
	background-position: -86px -99px;
	width: 14px;
	height: 22px;
	margin-top: 12px;
}
.youtube-btn{
	background-image: url("../img/sprites.png");
	background-position: -126px -98px;
	width: 24px;
	height: 20px;
	margin-top: 15px;
}
.copyright{
	position: absolute;
	right: 55px;
}
.copyright-item{
	display: inline-block;
}
.copyright-content{
	padding-right: 9px;
    padding-top: 21px;
    margin: 0;
}
.copyright-btn{
	position: absolute;
	background-image: url("../img/sprites-html.png");
	background-position: -18px 2px;
	width: 113px;
	height: 52px;
	right: 50px;
}
.copyright-btn:hover{
	background-image: url("../img/sprites-html.png");
	background-position: -18px -50px;
	width: 113px;
	height: 52px;
}
.copyright-btn:active{
	background-image: url("../img/sprites-html.png");
	background-position: -19px -98px;
	width: 113px;
	height: 52px;
}


/*inner*/

.main-container{
	padding: 0 6%;
	margin: 0 auto;
	background-image: url("../img/sedonabackground.jpg");
	background-repeat: no-repeat;
	background-size: 1200px 217px;
}
.column-item{
	display: inline-block;
	vertical-align: top;
}
form.search{
	color: #ffffff;
}
fieldset{
	display: inline-block;
	float: left;
}
legend{
	font-weight: bold;
	font-size: 16px;
}
.checkbox-title-first{
	padding: 28px 0 22px 0;
	margin: 0;
	text-align: left;
}
.checkbox-title-second{
	padding: 28px 115px 22px 0;
	margin: 0;
	text-align: left;
}
.search-label{
	position: relative;
	display: block;
	font-weight: normal;
	cursor: pointer;
	margin: 0;
	text-align: left;
	padding-bottom: 22px;
	padding-top: 2px;
}
.first-form label{
	padding-left: 39px;
}
.second-form label{
	padding-left: 41px;
}
input[type="checkbox"]{
	display: none;
}
input[type="checkbox"] + label{
	position: relative;
	display: block;
	line-height: 22px;
	/*font-size: 40px;*/
}
input[type="checkbox"] + label:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	background-image: url("../img/sprites4.png");
	background-position: -28px -178px;
	width: 26px;
	height: 23px;
}
input[type="checkbox"]:checked + label::before{
	background-image: url("../img/sprites4.png");
	background-position: -23px -327px;
}
input[type="checkbox"] + label:hover:before{
	background-image: url("../img/sprites4.png");
	background-position: -28px -227px;
}
input[type="checkbox"]:checked + label:hover:before {
	background-image: url("../img/sprites4.png");
	background-position: -23px -376px;
}
input[type="checkbox"]:disabled + label:before {
	background-image: url("../img/sprites4.png");
	background-position: -25px -277px;
}
input[type="checkbox"]:checked:disabled + label:before {
	background-image: url("../img/sprites4.png");
	background-position: -23px -426px;
}
.second-form{
	padding-left: 114px;
}
.filter-range{
	width: 352px;
	color: #ffffff;
	transform: uppercase;
}
.range-title{
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	margin-top: 28px;
	margin-bottom: 9px;
	padding-left: 24px;
	text-align: left;
}
.span-price{
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	margin-left: 34px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	font-size: 0;
	margin-bottom: 20px;
}
.span-price::after{
	content: "";
	position: absolute;
	width: 2px;
	height: 22px;
	background-color: #ffffff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.span-price label{
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}
.min-price,
.max-price{
	width: 90px;
	padding-left: 5px;
}
.span-price input{
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	outline: none;
}
.range{
	position: relative;
	margin-bottom: 32px;
	margin-left: 34px;
	text-align: left;
}
.scale{
	height: 2px;
	background-color: rgba(255, 255, 255, 0.3);
}
.bar{
	width: 80%;
	height: 2px;
	background-color: #ffffff;
}
.range-toggle{
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	/*Свойство background-color не подключилось.*/
	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
	box-sizing: content-box;
}
.range-toggle:hover{
	background-color: #1c4f80;
}
.range-toggle-min{
	left: 0;
}
.range-toggle-max{
	left: 80%;
}
.search-hotel-btn{
	display: block;
	margin-left: 119;
	padding: 6px 29px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}
.search-hotel-btn:hover{
	color: #000000;
	background-color: #ffffff;
}
.search-line{
	margin: 39px 0;
}
.result{
	display: inline-block;
	float: left;
}
.found{
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	margin: 0 46px 0 0;
	padding-bottom: 29px;
	/* Ошибка! См ниже */
	border-bottom: 1px solid #cccccc;
}
.sorting{
	font-size: 12px;
	line-height: 18px;
}
.result-sorting{
	padding: 5px 33px 0 0;
}
.sorting-item{
	list-style: none;
	float: left;	
	padding: 0;
	margin: 5px 32px 0 1px;
}
.sorting-item a{
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted;
	border-color: #81b3d2;
}
.current a{
	color: #81b3d2;
	border: none;
}
.switch{
	float: right;
	margin: 3px 0;
}
.switch-up{
	padding-right: 5px;
	color: rgba(0, 0, 0, 0.3);
}
.switch-down{
	color: #81b3d2;
}
.hotels{
	text-align: left;
	/* Ошибка! border тянется только на ширину 
	main-container, а нужно на всю ширину страницы */
	border-bottom: 1px solid #cccccc;
	clear: both;
	padding-bottom: 11px;
	padding-top: 26px;
}
 .hotels-image{
 	padding: 4px 26px 0 0;
 }
 .hotel-block{
 	display: inline-block;
 	float: left;
 }
 .title-hotel{
 	margin-bottom: 0;
 }
 .type, 
 .price{
 	padding-top: 9px;
 	padding-bottom: 20px;
 }
 .type-hotel, .price-hotel{
 	color: #333333;
 	padding-right: 26px;
 }
.hotel-link{
	color: #ffffff;
 	font-weight: bold;
 	display: block;
 	margin-top: 13px;
 	margin-right: 3px;
 	padding: 4px 16px;
}
 .hotels-link-more{
 	background-color: #81b3d2;
 	margin-right: 6px;
 }
 .hotels-link-book{
 	background-color: #766357;
 }
.rating{
	float: right;
	text-align: right;
	padding-top: 20px;
}
.four-stars{
	background-image: url("../img/sprites3.png");
	background-position: 18px -32px;
	width: 110px;
	height: 17px;
	background-repeat: no-repeat;
}
.two-stars{
	background-image: url("../img/sprites3.png");
	background-position: 41px -76px;
	width: 110px;
	height: 27px;
	background-repeat: no-repeat;
}
.three-stars{
	background-image: url("../img/sprites3.png");
	background-position: 29px -122px;
	width: 110px;
	height: 27px;
	background-repeat: no-repeat;
}
.rating-grade{
	padding: 3px 13px;
	margin-top: 42px;
	background-color: #f2f2f2;
}
.indent{
	margin-bottom: 106px;
}


/*
.house{
background-position: 0 -4px;
width: 75px;
height: 72px;
}
.burger{
background-position: -114px -6px;
width: 74px;
height: 70px;
}
.present{
background-position: -221px 0;
width: 64px;
height: 76px;
}
.twitter{
background-position: -31px -100px;
width: 17px;
height: 15px;
}
.facebook{
background-position: -88px -100px;
width: 10px;
height: 19px;
}
.youtube{
background-position: -128px -100px;
width: 20px;
height: 16px;
}

sprites-html
.html{
background-position: -19px -10px;
width: 113px;
height: 39px;
}
.html-hover{
background-position: -19px -61.98439025878906px;
width: 113px;
height: 39px;
}
.html-down{
background-position: -20.984375px -109.98439025878906px;
width: 113px;
height: 39px;
}

sprites4

.checkbox{
background-position: -27px -178px;
width: 22px;
height: 22px;
}
.checkbox_hvr{
background-position: -27px -227px;
width: 22px;
height: 22px;
}
.checkbox_disabled{
background-position: -25px -277px;
width: 22px;
height: 22px;
}
.checkbox_checked{
background-position: -23px -328px;
width: 26px;
height: 22px;
}
.checkbox_checked_hover{
background-position: -23px -377px;
width: 26px;
height: 22px;
}
.checkbox_checked_disabled{
background-position: -23px -427px;
width: 26px;
height: 22px;
}


.slide{
background-position: -51px -111px;
width: 20px;
height: 23px;
}
.slide_hvr{
background-position: -101px -112px;
width: 20px;
height: 23px;
}


sprites4

.calendar{
background-position: -27px -26px;
width: 21px;
height: 22px;
}
.calendar_hvr{
background-position: -28px -76px;
width: 21px;
height: 22px;
}
.calendar_down{
background-position: -28px -127px;
width: 21px;
height: 22px;
}

sprites5

.minus{
background-position: -19.015625px -23px;
width: 12px;
height: 3px;
}
.minus_hvr{
background-position: -19px -71px;
width: 12px;
height: 3px;
}
.minus_down{
background-position: -19.015625px -120.99998474121094px;
width: 12px;
height: 3px;
}
.plus{
background-position: -18px -164.00001525878906px;
width: 11px;
height: 11px;
}
.plus_hvr{
background-position: -20.015625px -219.00001525878906px;
width: 11px;
height: 11px;
}
.plus_down{
background-position: -19.015625px -267.99998474121094px;
width: 11px;
height: 11px;
}


.stars4{
background-position: -4px -32px;
width: 89px;
height: 17px;
}
.stars2{
background-position: -28px -81px;
width: 42px;
height: 17px;
}
.stars3{
background-position: -17px -132px;
width: 65px;
height: 17px;
}
*/