.twitter, .twitter-hover, .twitter-down, .facebook, .facebook-hover, .facebook-down, .youtube, .youtube-hover, .youtube-down{
	background: url(sprites.png) no-repeat;
}

.twitter{
	background-position: -31.984375px -33px ;
	width: 17px;
	height: 15px;
}

.twitter-hover{
	background-position: -31px -83.015625px ;
	width: 17px;
	height: 15px;
}

.twitter-down{
	background-position: -31.984375px -134px ;
	width: 17px;
	height: 15px;
}

.facebook{
	background-position: -38px -179px ;
	width: 10px;
	height: 19px;
}

.facebook-hover{
	background-position: -38.984375px -229px ;
	width: 10px;
	height: 19px;
}

.facebook-down{
	background-position: -38px -279px ;
	width: 10px;
	height: 19px;
}

.youtube{
	background-position: -28px -333.015625px ;
	width: 20px;
	height: 16px;
}

.youtube-hover{
	background-position: -28px -382.015625px ;
	width: 20px;
	height: 16px;
}

.youtube-down{
	background-position: -28px -433.015625px ;
	width: 20px;
	height: 16px;
}

