.stars4, .stars2, .stars3{
	background: url(sprites.png) no-repeat;
}

.stars4{
	background-position: -4px -32px ;
	width: 89px;
	height: 17px;
}

.stars2{
	background-position: -28px -81px ;
	width: 42px;
	height: 17px;
}

.stars3{
	background-position: -17px -132px ;
	width: 65px;
	height: 17px;
}

